a{
    cursor:pointer;
}

body{
    color: rgba(26, 26, 26, .7);
  font-family: 'Lora', serif;
  margin: 0;    
}

@media (max-width: 500px) {
    body {
      font-size: 14px;
    }
}  


footer,
#Links{
  font-family: Georgia, 'Times New Roman', Times, serif;  
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#overlay{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 1;
}
@media (max-width: 500px) {
    overlay {
        height: 300px;
        line-height: 1.2;
    }
}

#Links {  
    font-size: 14px;
    padding: 15px 20px;   
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*position: fixed;*/
    
}

#Links a{
    margin: 15px;
    border: 2px solid rgba(75, 179, 54, 0.884);
    background-color: rgba(75, 179, 54, 0.884);
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    z-index: 1;
}


#Links a:hover{
    background-color: rgba(185, 252, 61, 0.041);
    border: 0px;
    color: black;
}



header{
    color:white;
    border-color: black;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Foto_zino_-_panoramio.jpg");
    
    background-size: cover;
    background-position: center center;
    height: 500px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 500px) {
    header {
      height: 300px;
      line-height: 1.2;
    }
}

header h1{
    justify-content: center;
    text-align: center;      
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: auto;
    z-index: 1;
    max-width: 780px;
}

@media (max-width: 500px) {
    header h1{
      font-size: 1em;
      letter-spacing: 4px;
    }
    
}

#menu {
    display: none;
}
  
#menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    margin-right: 15px;
    margin-left: auto;    
}
  
@media (max-width: 500px) {
#Links {
    display: none;
    
}

#menu {
    display: block;
    
}
}



.Profilo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    height: 100px; 
    width: 100px;
    border-radius: 100px;
    border: 3px solid white;
}
.Nome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
    color: black;

}

.aggiornamento {
    display: block;
    font-size: 15px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 9px;
    border-bottom: 1px solid lightgray;
    color: inherit;
    
}

@media (max-width: 500px) {
	.Nome {
        /*font-size: 40px;*/
	  font-size: 1em;
	}
    .aggiornamento{
        font-size: 1em;
    }
}

.tutto{
    margin-top: 60px;
}

@media (max-width: 500px) {
    .tutto {
      margin: 40px 10px;
    }
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    
}

.indice{
    font-size: 40px;
    margin-right: 40px;
    text-align: left;
    /*color: inherit;*/
}

.contenuto{
    width: 66.67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Titolo {
    margin-top: 0px;      
    color: black;
    text-align:left;
}
@media (max-width: 500px) {
    .Titolo {
      width: 90%;
      margin-bottom: 2em;
    }
}

.Titolo h1{
    margin: 0px;    
}

.voto{    
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgba(75, 179, 54, 0.884);
}


.details p{
    margin: 20px 0px 20px 0px;
    font-weight: bolder;
}


.details img{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 120px;
    margin-top: 0px;
    
}

.val{
    margin-top: 0px;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    #details {
      flex-direction: column;
    }
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color:rgba(255, 255, 255, 0.8);
    padding: 75px;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, .4);
  }